@{
    ViewBag.Title = "Uninstall";
}
<h2>@ViewBag.Title.</h2>

<div id="container">


    <div id="page_desc" class="uninstall_page">
        <div class="sb_close fl_right">
            <h6>How to close <span class="app_name"></span></h6>
            <p>
                <span class="appname">Email Access Online</span> Application can be exited at any time by right clicking <strong><span class="appname">Email Access Online</span> Application icon in the system tray</strong> and then clicking <strong>exit</strong>
            </p>
            <img src="img/sb_close.png" id="sb_close_vuze" />
            <br /><br />
            <p>
                Followed by clicking <strong>Yes</strong> from the confirmation dialog
            </p>
            <img src="~/Content/img/exit_confirmation_dialog.png" id="exit_confirmation_dialog" style="width: 249px;" />
        </div>
        <div id="edge-uninstall" class="">
            <div class="image-label">
                <h6>Remove <span class="app_name"></span>:</h6>
                <br>
                1. From Windows type in <b>"Control Panel"</b> and select the match that appears.
                <br>
                <br>
                <img class="image" src="~/Content/img/sb_uninstall_1.jpg" />
                <br>
                <br>
                2. Once the <b>"Control Panel"</b> has loaded, click <b>"Uninstall a program"</b> under the <b>Programs</b> section.
                <br>
                <br>
                <img class="image" src="~/Content/img/sb_uninstall_2.jpg" />
                <br>
                <br>
                3. Locate the application name, below we are removing <b><span class="appname">Email Access Online</span></b> and select it so it becomes highlighted.
                <br>
                <br>
                <img class="image" src="~/Content/img/sb_uninstall_3.jpg" id="sb_uninstall_3" />
                <br>
                <br>
                4. Once you have made your selection, click <b>"Uninstall"</b> to remove the application.
                <br>
                <br>
                <img class="image" src="~/Content/img/sb_uninstall_4.jpg" id="sb_uninstall_4" />
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
