<footer class="footer lightgray-bg">
    <ul class="list-group list-group-horizontal justify-content-center">
        <li class="list-group-item px-5 border-0 lightgray-bg">
            @Html.ActionLink("Terms", "Terms", "Home", new { area = "" }, new { @class = "footer-link" })
        </li>
        <li class="list-group-item px-5 border-0 lightgray-bg">
            @Html.ActionLink("Privacy", "Privacy", "Home", new { area = "" }, new { @class = "footer-link" })
        </li>
        <li class="list-group-item px-5 border-0 lightgray-bg">
            @Html.ActionLink("Uninstall", "Uninstall", "Home", new { area = "" }, new { @class = "footer-link" })
        </li>
        <li class="list-group-item px-5 border-0 lightgray-bg">
            @Html.ActionLink("Contact", "Contact", "Home", new { area = "" },  new { @class = "footer-link" })
        </li>
    </ul>
</footer>
